#entry-section{
    background-color: #e5e3e4;
    padding-bottom: 5em;
    padding-top: 3em;
}
#entry-section .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#entryForm{
    width: fit-content;
    padding: 1em;
}
#entryForm .input-div{
    display: flex;
}
#entryForm .input-div label{
    width: 30%;
}
#entryForm .input-div input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #000;
    appearance: none; 
    width: 70%; 
    font-size: 1.5rem;

}
@media(max-width: 524px){
    #entryForm .input-div{
        flex-direction: column;
    }
    #entryForm .input-div input{
        width: 100%;
    }
    #entryForm .input-div label{
        width: 100%;
    }
}
