/* results-section */
#results-section{
    background-color: #feeeee; 
    padding-bottom: 4em;  
}
#results-section .container{
    display: flex;
    justify-content: space-around;
}
.primary-results{
    width: 40%;
}
.img-container{
    width: 100%;
    margin: 1.5em 0;
}
.img-container img{
    width: 100%;  
}
.form-label{
    display: inline-block;
    width: 20%;
    font-size: 1em;
    text-transform: capitalize;
}

#results-section form .btns{
    margin: auto;
}
.remove-flight-info{
    display: none;
}
.secondary-results{
    width: 40%;
}
.secondary-results .results-data{
    border-bottom: 2px solid #fff;
}
@media(max-width: 890px){
    #results-section .container{
        flex-direction: column;
        justify-content: center;
    }
    .primary-results{
        width: 90%;
        margin-bottom: 1em;
    }
    .img-container{
        width: 80%;
        margin: auto;
    }
    .secondary-results{
        width: 80%;
    }
    .more-details{
        margin-top: 1em;
    }
}
@media(max-width: 524px){
    .secondary-results{
        width: 95%;
    }
    .primary-results{
        width: 95%;  
    }
    .img-container{
        width: 100%;
    }
}

